:root {
  --main-text-color: #202020;
  --main-color: #7404f3;
  --second-color: #e033d2;
  --third-color: #f58888;
  --background-color: #ffffff;
  --border-color: #d1cece;
  --shadow-color: #999999;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 3%;
  width: 80%;
  border: 1px var(--border-color) solid;
  border-radius: 5px;
  margin: 5% auto;
  box-shadow: 5px 5px 4.2px var(--shadow-color);
}
.users-pro {
  float: left;
}
.title {
  font-size: 24px;
  color: var(--main-text-color);
}
.names,
.uname,
.other-address,
.passwords {
  overflow: hidden;
  padding-bottom: 3%;
}
input {
  border: 1px var(--background-color) solid;
  color: var(--main-text-color);
}
textarea:focus,
input:focus {
  outline: none;
}
.names fieldset {
  width: 26%;
  border: 2px var(--border-color) solid;
  border-radius: 5px;
  float: left;
}
legend {
  color: var(--main-color);
}

.uname fieldset {
  width: 85%;
  border: 2px var(--border-color) solid;
  border-radius: 5px;
}
.names fieldset:hover,
.names fieldset:focus,
.uname fieldset:hover,
.uname fieldset:focus,
.other-address fieldset:hover,
.other-address fieldset:focus,
.passwords fieldset:hover,
.passwords fieldset:focus {
  border: 2px var(--main-color) solid;
}
.uname-text {
  font-size: 12px;
}

.bday {
  padding: 6px 24px;
}
.passwords fieldset {
  width: 23%;
  border: 2px var(--border-color) solid;
  border-radius: 5px;
  float: left;
}

.next button {
  text-decoration: none;
  background-image: linear-gradient(
    -45deg,
    var(--main-color),
    var(--second-color)
  );

  width: 91%;
  padding: 15px 0px;
  display: block;
  text-align: center;
  color: var(--main-color);
  border-radius: 5px;
  border: var(--border-color) 1px solid;
}
.next button:hover,
.next button:focus {
  background-image: linear-gradient(
    -45deg,
    var(--second-color),
    var(--third-color)
  );
}
.signin button {
  text-decoration: none;
  width: 91%;
  padding: 15px 0px;
  display: block;
  text-align: center;
  color: var(--main-color);
  border-radius: 5px;
  border: var(--border-color) 1px solid;
}
.signin button:hover,
.signin button:focus {
  background-image: linear-gradient(
    -45deg,
    var(--second-color),
    var(--third-color)
  );
  color: var(--background-color);
}
.image {
  float: right;
  width: 40%;
  margin: 10% 0%;
}
.image img {
  width: 80%;
}
.text-2 {
  margin: 0% 0% 3% 0%;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  color: var(--main-text-color);
}
